@model IEnumerable<AphasiaGreetingCards.Models.User>

@{
    ViewData["Title"] = "Index";
}

<div class="Page">
    <div class="card shadow-lg">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="width-md">
                        Email
                    </th>
                    <th class="width-md">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th class="width-md">
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th class="width-md">
                        @Html.DisplayNameFor(model => model.Age)
                    </th>
                    <th class="width-md">
                        @Html.DisplayNameFor(model => model.Birthday)
                    </th>
                    <th class="width-md">
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Birthday)
                        </td>
                        <td class="ui-helper-center">
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>