@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model IEnumerable<AphasiaGreetingCards.Models.GreetingCard>

@{
    ViewData["Title"] = "Index";
}
<div class="Page">
    <div class="display-4 text-center"> Greeting Cards </div>
    <hr />
    @if (SignInManager.IsSignedIn(User))
    {
        <p>
            <a asp-controller="GreetingCards" asp-action="Create" class="btn btn-primary text">Create New</a>
        </p>
    }
    else
    {
        <div class="container">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                To Create New
            </button>

            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">You must be logged in!</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            To create a new greeting card, you must be logged in.
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <br />
    }

    <div class="card shadow-lg">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="width-md">
                        @Html.DisplayNameFor(model => model.theme)
                    </th>
                    <th class="width-md">
                        @Html.DisplayNameFor(model => model.senderUserFullName)
                    </th>
                    <th class="width-md">
                        Recipient
                    </th>
                    <th class="width-md">
                        @Html.DisplayNameFor(model => model.fullSentence)
                    </th>
                    <th class="width-md">
                        Image Name
                    </th>
                    <th class="width-md">
                        @Html.DisplayNameFor(model => model.publishedToFacebook)
                    </th>
                    <th class="width-lg text-center">
                        Card
                    </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.theme)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.senderUserFullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.recipientUserFullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fullSentence)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.imageName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.publishedToFacebook)
                        </td>
                        <td>
                            <div class="card GreetingCardFull">
                                <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.image)" alt="Card image" style="width:100%">
                                <div class="card-body">
                                    <h4 class="card-title">To @Html.DisplayFor(modelItem => item.recipientUserFullName)</h4>
                                    <p class="card-text">@Html.DisplayFor(modelItem => item.fullSentence)</p>
                                </div>
                            </div>
                            <br>
                        </td>
                        <td>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-primary">Delete</a>
                            }
                            else
                            {
                                <div>
                                    To Edit | Details | Delete you must be logged in
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>