@model IEnumerable<AphasiaGreetingCards.Models.GreetingCard>

@{
    ViewData["Title"] = "Index";
}

<div class="Page">
    <p>
        <a asp-action="Create" class="btn btn-primary text">Create New</a>
    </p>
    <div class="card shadow-lg">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="width-md">
                        @Html.DisplayNameFor(model => model.theme)
                    </th>
                    <th class="width-md">
                        @Html.DisplayNameFor(model => model.senderUserFullName)
                    </th>
                    <th class="width-md">
                        @Html.DisplayNameFor(model => model.recipientUserFullName)
                    </th>
                    <th class="width-md">
                        @Html.DisplayNameFor(model => model.fullSentence)
                    </th>
                    <th class="width-md">
                        @Html.DisplayNameFor(model => model.image)
                    </th>
                    <th class="width-md">
                        @Html.DisplayNameFor(model => model.publishedToFacebook)
                    </th>
                    <th class="width-lg text-center">
                        Card
                    </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.theme)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.senderUserFullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.recipientUserFullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fullSentence)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.image)
                        </td>
                        <td class="ui-helper-center">
                            @Html.DisplayFor(modelItem => item.publishedToFacebook)
                        </td>
                        <td class="cardCol ui-helper-center">
                            <div class="card" style="width:300px">
                                <img class="card-img-top" src="~/images/happybirthday.jpg" alt="Card image" style="width:100%">
                                <div class="card-body">
                                    <h4 class="card-title">@Html.DisplayFor(modelItem => item.theme)</h4>
                                    <p class="card-text">@Html.DisplayFor(modelItem => item.fullSentence)</p>
                                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a>
                                </div>
                            </div>
                            <br>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>