@model AphasiaGreetingCards.Models.SentimentSentence

@{
    ViewData["Title"] = "Details";
}

<div class="Page">
    <div>
        <div class="display-4 text-center">Sentiment Sentence Details</div>
        <hr />
        <dl class="col-md-4 offset-md-4 text-center dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.theme)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.theme)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.prefix)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.prefix)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.recipientUserFirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.recipientUserFirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.suffix)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.suffix)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.complexity)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.complexity)
            </dd>
        </dl>
    </div>
    <div class="col-md-4 offset-md-4 dl-horizontal text-center">
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Edit</a> 
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>