@model AphasiaGreetingCards.Models.SentimentSentence

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SentimentSentence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.theme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.theme)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prefix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prefix)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.recipientUserID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.recipientUserID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.suffix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.suffix)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.complexity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.complexity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
