@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model IEnumerable<AphasiaGreetingCards.Models.SentimentSentence>

@{
    ViewData["Title"] = "Index";
}

<div class="Page">
    <div class="display-4 text-center animated fadeInUp"> Sentiment Sentences </div>
    <hr />
    <div class="text-center">
        <button type="button" class="btn btn-primary btnToggleSearch"> Search Form </button>
    </div>
    <div class="searhFormForGreetingCard"  style="display: none;">
        <form asp-action="search" class="col-md-4 offset-md-4">
            <div class="form-group">
                <label class="control-label">Theme</label>
                <select class="form-control" name="theme">
                    <option value="Birthday">Birthday</option>
                    <option value="Bar Mitzva">Bar Mitzva</option>
                    <option value="It's a boy!">It's a boy!</option>
                    <option value="Daily">Daily</option>
                    <option value="It's a girl!">It's a girl!</option>
                    <option value="Holiday">Holiday</option>
                    <option value="Love">Love</option>
                    <option value="Valentine">Valentine</option>
                    <option value="Wedding">Wedding</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Prefix</label>
                <input class="form-control" name="prefix" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Suffix</label>
                <input class="form-control" name="suffix" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <a href="/SentimentSentences" class="btn btn-primary text-center"> Full List </a>

    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="Create" class="btn btn-primary text">Create New</a>
    }
    else
    {
        <div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                To Create New
            </button>

            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">You must be logged in!</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            To create a new sentiment sentence, you must be <a href="/Identity/Account/Login">logged in</a>.
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <br />
    }
    <div class="card shadow-lg">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.theme)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.prefix)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.recipientUserFirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.suffix)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.complexity)
                    </th>
                    <th>
                        Full Sentence
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.theme)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.prefix)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.recipientUserFirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.suffix)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.complexity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.prefix), @Html.DisplayFor(omdelItem => item.recipientUserFirstName)! @Html.DisplayFor(modelItem => item.suffix)
                        </td>
                        <td>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-primary">Delete</a>
                            }
                            else
                            {
                                <div>
                                    To Edit|Details|Delete you must be logged in
                                </div>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
