@model IEnumerable<AphasiaGreetingCards.Models.GreetingCard>

@{
    ViewData["Title"] = "Index";
}

    <div class="Page">
        <p>
            <a asp-action="Create" class="btn btn-primary text">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.theme)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.sendertUserID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.recipientUserID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.sentenceID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.imageID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.publishedToFacebook)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.theme)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sendertUserID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.recipientUserID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sentenceID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.imageID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.publishedToFacebook)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>